.card {
    width: 540px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 40px;
}

@media screen and (min-width: 1460px) {

    .card:nth-child(odd) {
        top: -286px;
        margin-right: 40px;
    }
    
    .card:first-child {
        top: 0;
    }
}