.slide-preview {
    width: 720px;
    height: 264px;

    padding: 48px 0 48px 64px;
    background: #302F41;

    display: flex;
    box-sizing: border-box;

    font-family: 'FuturaPT-Bold', Arial, Helvetica, sans-serif;
}

.slide-preview__header {
    flex: 1;
    padding-right: 64px; 
    box-sizing: border-box;
}

    .slide-preview__header-enter {
        color: rgba(255, 255, 255, 0);
    }
    .slide-preview__header-enter-active,
    .slide-preview__header-enter-done {
        color: rgba(255, 255, 255, 1);
    }
    .slide-preview__header-exit {
        
    }
    .slide-preview__header-exit-active,
    .slide-preview__header-exit-done {
        color: rgba(255, 255, 255, 0);
    }

.slide-preview__number {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.slide-preview__title {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.slide-preview__image {
    width: 360px;
    height: 168px;
    position: relative;
    right: 0;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

    .slide-preview__image-enter {
        width: 0;
    }
    .slide-preview__image-enter-active,
    .slide-preview__image-enter-done {
        width: 360px;
    }
    .slide-preview__image-exit {
        
    }
    .slide-preview__image-exit-active,
    .slide-preview__image-exit-done {
        width: 0;
    }

.slide-preview__image img {
    height: 100%;
    width: 100%;
}
