.features-slideshow {
    display: flex;
    position: relative;
}

.features-slideshow__image {
    height: 640px;
    width: 480px;
    min-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-slideshow__image img {
    max-height: 100%;
    max-width: 100%;

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.features-slideshow__content {
    position: relative;
    padding-left: 80px; 
    padding-top: 64px;
    z-index: 1;
}

.features-slideshow-content__title {
    color: #302F41;
    font-family: 'FuturaPT-Bold', 'FuturaPT', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.features-slideshow-content__subtitle {
    opacity: .5;
    color: #302F41;
    font-family: 'FuturaPT-Book', 'FuturaPT', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 24px;
}

.features-slideshow__switcher-widget {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 400px;
    display: flex;
    z-index: 0;
}

.switcher-widget__slide-switcher {
}

.switcher-widget__icon {
    width: 80px;
    height: 80px;
    background-color: #6F6AFF;
    background-repeat: no-repeat;
    background-position: center;
}

.switcher-widget__content {
    width: 100%;
}

.switcher-widget__feature-name {
    color: #FFFFFF;
    font-family: 'FuturaPT-Medium', 'FuturaPT', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;

    background-color: #302F41;
    padding: 55px 64px;
}
