.sidebar {
    width: 80px;
    height: 100%;
    border-right: 1px solid #000;
    position: fixed;
    background: #ffffff;
}

.sidebar.open {
    width: 520px;
    padding-left: 80px;
}

.sidebar-toggle {
    width: 80px;
    height: 100%;
    position: fixed;
    left: 0;
}

.sidebar .toggle-button {
    vertical-align: center;
}

.sidebar .toggle-button .bar {
    background-color: #000000;
    width: 24px;
    height: 2px;
}