.main-menu__item {
    margin: 12px 0;
}

.main-menu__item a:active,
.main-menu__item a:hover,
.main-menu__item a:visited,
.main-menu__item a:link
{
    color: inherit;
    text-decoration: none;
}

.main-menu__item_type-menu {
    
}

.main-menu__item_type-footer {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 26%;
}