.top-slide-section {
    height: 100vh;
    color: #ffffff;
}

.top-slide-section__contacts-widget {
    position: absolute;
    top: 0;
    right: 0;
}

.top-slide-section__switcher-widget {
    position: absolute;
    bottom: 0;
    right: 0;
}

.top-slide-section__slide-switcher {
    
}
