.top-slide-section {
    height: 100vh;
    color: #ffffff;
    font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
}

.top-slide-section__contacts-widget {
    position: absolute;
    top: 0;
    right: 0;
}