.top-slide-section {
    height: 100vh;
    color: #ffffff;
    background: #302F41;
    position: relative;
    overflow: hidden;
}

.top-slide-section__contacts-widget {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    transition: margin .4s ease-out;
}

.top-slide-section__switcher-widget {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    transition: margin .4s ease-out;
}

.slide__content {
    position: relative;
    box-sizing: border-box;
    padding-left: 160px;
    padding-top: 120px;
    transition: margin .4s ease-out, opacity .4s ease-out;
}

.slide__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide__image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: background-image .5s ease-in-out;
}

.slide__curtain {
    background: #302F41;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width .2s ease-out;
}

.slide__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 47, 65, .6);
}

.slide__number {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'FuturaPT-Bold', 'FuturaPT', Arial, Helvetica, sans-serif;
}

.slide__title {
    font-family: 'FuturaPT-Bold', 'FuturaPT', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    max-width: 560px;
    margin: 0;
    margin-top: 48px;
}

.slide__subtitle {
    opacity: .7;
    font-family: 'FuturaPT-Book', 'FuturaPT', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    max-width: 560px;
    margin: 0;
    margin-top: 24px;
}

.slide__buttons {
    margin-top: 48px;
}

.slide__action-button {
    font-family: 'FuturaPT-Demi', 'FuturaPT', Arial, Helvetica, sans-serif;
}

.slide__description-button {
    font-family: 'FuturaPT-Mediun', 'FuturaPT', Arial, Helvetica, sans-serif;
}
