.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url(./assets/fonts/FuturaPT-Bold.woff);
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url(./assets/fonts/FuturaPT-Demi.woff);
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url(./assets/fonts/FuturaPT-Medium.woff);
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url(./assets/fonts/FuturaPT-Book.woff);
}
